{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{%load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Ernesto Cabana</h1>
<span class="subheading">Ingeniero Electrónico</span>
{% endblock %}

{% comment %} {% block content %}
<h2>Portada</h2>

<p>Esto es la portada</p> 
{% endblock %} {% endcomment %}